html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw; }

.lightboxOverlay {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  margin: 0 !important;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightboxOverlay:hover .lb-data .lb-close {
  opacity: 1; }

.lightbox .lb-image {
  touch-action: pan-y pinch-zoom;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 12px;
  /* Image border */
  border: 6px solid white; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 8px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-loader {
  position: absolute;
  top: 40%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 70px;
  height: 45px;
  margin: 0 auto;
  background: url("../data/images/loader_full_2.gif") no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 7; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 33%;
  left: 0;
  float: left;
  background: url("https://cdn.jsdelivr.net/combine/gh/typerror/Portfolio@1.0.1/data/images/prev-arrow.svg") left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 33%;
  right: 0;
  float: right;
  background: url("https://cdn.jsdelivr.net/combine/gh/typerror/Portfolio@1.0.1/data/images/next-arrow.svg") right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  font-family: "STSGLight",Helvetica,Arial,sans-serif;
  margin: 0 auto;
  padding-top: 1.2vh;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: table;
  clear: left;
  padding: 3px;
  /* padding-bottom: 1em; */
  font-size: inherit;
  color: #000;
  background-color: white;
  border-radius: 12px; }

.lb-data .lb-close {
  display: block;
  float: right;
  background: url(https://cdn.jsdelivr.net/combine/gh/typerror/Portfolio@1.0.1/data/images/close-x.svg) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: invert(100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

@font-face {
  font-family: "STSGLight";
  src: url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20.eot?") format("eot"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20.svg#STSGLight") format("svg"); }
@font-face {
  font-family: "STSGMedium";
  src: url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20.eot?") format("eot"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20.svg#STSGMedium") format("svg"); }
/* === MAIN ==== */
.wf-loading a {
  visibility: visible; }

a {
  color: #000;
  font-family: "STSGLight", sans-serif;
  text-decoration: none;
  visibility: visible; }

body.loading {
  overflow: hidden; }

body.loading .loader {
  display: block; }

.bg-white {
  background-color: #fff;
  border-radius: 12px; }

canvas {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  touch-action: none; }

div#menu {
  margin-top: 0;
  margin-left: 8vw;
  margin-right: 10vw; }

div#div-mid-head {
  margin-top: 21vh;
  margin-left: 8vw;
  margin-right: 10vw;
  background-color: transparent !important;
  z-index: 3; }

div#nojs-div-mid-head {
  font-family: "STSGMedium",Helvetica,Arial,sans-serif;
  margin-top: 21vh;
  background-color: transparent !important;
  left: 8vw;
  z-index: 3; }

div#upper {
  padding: 4vh 0;
  margin-left: 8vw;
  margin-right: 10vw;
  background-color: transparent !important;
  position: fixed;
  width: 100%; }

div#nojs-menu {
  margin-top: 6vh;
  margin-left: 8vw; }

div#works-list {
  margin-top: 8vh;
  margin-left: 8vw;
  margin-right: 10vw;
  background-color: transparent !important; }

div#nojs-works-list {
  margin-top: 8vh;
  margin-left: 8vw; }

div#works-section {
  position: absolute;
  top: 21vh;
  margin-left: 8vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
  z-index: 1; }

div#tags {
  width: 100%; }

div#tools {
  width: 100%; }

div#tags2 {
  width: 100%; }

div#tools2 {
  width: 100%; }

#error {
  display: block;
  margin-left: 8vw;
  line-height: 1.5em;
  position: absolute;
  top: 21vh; }

.fixed {
  position: fixed; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4vh;
  z-index: 3; }

footer a, .small {
  font-family: "STSGLight", sans-serif;
  font-size: 1em; }

footer #right {
  position: absolute;
  right: 1vw; }

.wf-loading * {
  visibility: visible; }

.wf-active *, .wf-inactive * {
  animation: fade-in 0.6s ease-in-out;
  visibility: visible; }

.hide {
  display: none !important; }

h4.progetto {
  margin-bottom: 0vh; }

html {
  font-size: 15px; }
  @media all and (min-width: 180px) {
    html {
      font-size: calc(15px + 7 * ((100vw - 180px) / 1020)); } }
  @media all and (min-width: 1200px) {
    html {
      font-size: 22px; } }
html svg#logo {
  width: 40px; }
  @media all and (min-width: 180px) {
    html svg#logo {
      width: calc(40px + 20 * ((100vw - 180px) / 1020));
      height: auto;
      padding: 0; } }
  @media all and (min-width: 1200px) {
    html svg#logo {
      width: 60px;
      height: auto;
      padding: 0; } }

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  transition: fade-in 0.3s ease-out; }

img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(0%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  transition: fade-in 0.3s ease-in; }

p.is-loading {
  border: solid #f0f0f0 1px;
  width: 100%;
  height: 50vw;
  background: rgba(255, 255, 255, 0.8) url("/data/images/loader_full_2.gif") 48% 50% no-repeat;
  margin-bottom: 2.4vh; }

p.is-loading[src*="/data/img/"] {
  animation: fade-out 0.3s ease-out; }

.invert {
  filter: invert(100%); }

.inline {
  display: inline !important; }

.loader {
  margin: 0 !important;
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("/data/images/loader_full_2.gif") 48% 50% no-repeat; }

li#back:hover {
  cursor: default; }

li#back span {
  font-family: "STSGLight", sans-serif;
  padding: 0 6px;
  margin-right: 6px;
  background: #fff;
  border-radius: 12px; }

.light {
  font-family: 'STSGLight', sans-serif; }

#logo {
  width: 60px;
  height: auto;
  padding: 0; }

.wf-loading .light {
  visibility: visible; }

.wf-active .light, .wf-inactive .light {
  visibility: visible;
  font-family: "STSGMedium", sans-serif; }

.light {
  font-family: "STSGMedium", sans-serif; }

li.work-list {
  margin-bottom: 4vh; }

#menu-next-ajax {
  position: fixed;
  top: 62vh;
  z-index: 4;
  animation: fade-in 0.6s ease-in-out; }

#menu-next-next-ajax {
  position: fixed;
  top: 62vh; }

noscript {
  font-family: 'STSGLight', sans-serif; }

.portfolio-immagine {
  width: 100%;
  margin-bottom: 2.4vh; }

.portfolio-paragrafo {
  width: 100%;
  margin-bottom: 2.4vh;
  font-family: 'STSGLight', sans-serif;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 12px;
  padding: 1vw 1vh; }

.portfolio-tags {
  bottom: 30vh;
  position: absolute;
  width: 10vw; }

.relative {
  position: relative; }

.rotating {
  display: inline-block;
  animation: rotating 1.6s linear infinite;
  transform-origin: 50% 50%; }

.rotating-inverse {
  display: inline-block;
  animation: rotating-inverse 1.6s linear infinite;
  transform-origin: 50% 50%; }

.show {
  display: block; }

.no-touch {
  transition: filter 0.2s;
  transition-timing-function: ease;
  filter: invert(0); }

.no-touch:hover, .no-touch:active, .touch.over {
  transition: filter 0.2s;
  transition-timing-function: ease;
  filter: invert(1); }

.thin {
  font-family: 'STSGLight', sans-serif; }

.wf-loading .thin {
  visibility: visible; }

.wf-active .thin, .wf-inactive .thin {
  visibility: visible;
  font-family: "STSGLight", sans-serif; }

ul#head {
  display: flex;
  align-items: center;
  z-index: 2; }

ul#menu-ul {
  line-height: 1.8em; }

/*
ul#mid-head {
	margin-top: 11vh;
}*/
ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi {
  margin-left: 4vw;
  margin-top: 1vh; }

ul#mid-head li:nth-child(1), ul#mid-head li:nth-child(3) {
  margin-bottom: 4vh; }

ul#mid-head li:nth-child(2) {
  margin-bottom: 2vh; }

ul#nojs-mid-head li:nth-child(1), ul#nojs-mid-head li:nth-child(3) {
  margin-bottom: 3vh;
  margin-left: 8vw; }

ul#nojs-mid-head li:nth-child(2) {
  margin-bottom: 1vh;
  margin-left: 8vw; }

ul#works-ajax {
  display: flex;
  flex-direction: column-reverse; }

video {
  width: 42vw;
  height: auto; }

.vibration:hover {
  display: inline-block;
  transform: scale(1, -1);
  animation: transform 0.25s linear 1;
  transform-origin: center;
  cursor: default; }

.vibration:focus, .vibration:active, .vibration:focus-within {
  display: inline-block;
  transform: scale(1, -1);
  transform-origin: center; }

.work-list {
  line-height: 1.8em;
  list-style: none;
  margin-bottom: 2vh; }

#works-list-ajax {
  margin-top: 21vh;
  margin-left: 8vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
  overflow: auto; }

#nojs-works-list-ajax {
  margin-top: 21vh;
  margin-left: 8vw;
  margin-right: 10vw;
  margin-bottom: 8vh;
  overflow: auto; }

.work {
  font-size: 1.6em; }

.z-3 {
  z-index: 3; }

.z-4 {
  z-index: 4; }

/* === ANIMATION === */
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes slide-in {
  0% {
    transform: translate(-90vw, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes slide-out {
  0% {
    transform: translate(90vw, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotating-inverse {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes vibration {
  0% {
    transform: translate(0, -5px); }
  25% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, -6px); }
  75% {
    transform: translate(0, 4px); }
  100% {
    transform: translate(0, -5px); } }
/* === MEDIA QUERIES === */
@media all and (max-width: 1000px) {
  ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi {
    display: none; }

  div#tags {
    display: none; }

  div#tools {
    display: none; }

  div#tags2 {
    display: block; }

  div#tools2 {
    display: block;
    margin-top: 2vh; }

  .lb-nav a.lb-prev, .lb-nav a.lb-next {
    background-size: 58px; }

  .lb-data .lb-close {
    background-size: 26px;
    width: 26px;
    height: 26px; }

  p.is-loading {
    height: 50vw; } }
@media all and (min-width: 1001px) {
  ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi {
    display: none; }

  div#tags {
    display: block;
    margin-top: 4vh; }

  div#tools {
    display: block;
    margin-top: 2vh; }

  div#tags2 {
    display: none; }

  div#tools2 {
    display: none; }

  div#image-container {
    font-family: "STSGLight", sans-serif;
    float: right;
    width: 38vw; }

  div#works-section {
    position: relative;
    top: 22vh;
    z-index: 1; }

  .lb-nav a.lb-prev, .lb-nav a.lb-next {
    background-size: 58px; }

  .lb-data .lb-close {
    background-size: 30px;
    width: 30px;
    height: 30px; }

  p.is-loading {
    height: 30vw; }

  .titolo-progetto {
    display: inline-block;
    width: 40vw;
    height: 100vw;
    position: fixed;
    left: 8vw; } }
@media screen and (orientation: landscape) and (max-height: 500px) {
  div#tags {
    display: none; }

  div#tools {
    display: none; }

  div#tags2 {
    display: block; }

  div#tools2 {
    display: block; }

  #works-list-ajax {
    margin-top: 36vh;
    margin-bottom: 8vh;
    overflow: auto; }

  div#div-mid-head {
    display: none; }

  ul#head li#es, ul#head li#contatti {
    display: inline-block; }

  div#works-list {
    margin-top: 36vh; }

  div#works-section {
    top: 36vh; }

  div#nojs-works-list {
    margin-top: 36vh;
    margin-left: 8vw; } }
@media all and (orientation: landscape) and (max-height: 500px) and (min-width: 1000px) {
  #works-list-ajax {
    margin-top: 36vh;
    margin-bottom: 8vh;
    overflow: auto; }

  div#div-mid-head {
    display: none; }

  ul#head li:nth-child(4) {
    display: none; }

  ul#head li#es, ul#head li#chiama, ul#head li#scrivi {
    display: inline-block; }

  ul#head li#contatti {
    display: none; }

  div#works-list {
    margin-top: 36vh; }

  p.is-loading {
    height: 26vw; }

  .titolo-progetto {
    position: fixed;
    left: 8vw; } }
