@charset "UTF-8";

@import 'mixins';
@import 'fluid-type';
@import 'lightbox';
//@import 'reset';

//@include font-face(SharpThin, "../font/SharpGrotesk-Thin20");
@include font-face(STSGLight, "https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-L20");
//@include font-face(SharpReg, "../font/SharpGrotesk-Book20");
@include font-face(STSGMedium, "https://cdn.jsdelivr.net/gh/typerror/Portfolio@1.0.2/font/STSG-M20");

/* === MAIN ==== */

//$SharpThin: 'SharpThin', sans-serif;
$STSGLight: 'STSGLight', sans-serif;
//$SharpRegular: 'SharpReg', sans-serif;
$STSGMedium: 'STSGMedium', sans-serif;
$dark: #000;
$light: #fff;
$margin-left-outer: 8vw;
$margin-right-outer: 10vw;
$margin-top-outer: 4vh;
$margin-bottom-outer: 3vh;
$margin-left-inner: 4vw;
$margin-right-inner: 6vw;
$margin-top-inner: 6vh;
$margin-bottom-inner: 3vh;
$min_width: 180px;
$max_width: 1200px;
$min_font: 15px;
$max_font: 22px;
$min_logo: 40px;
$max_logo: 60px;
$opacity: 0.9;

.wf-loading a {
	visibility: visible;
}

a {
	color: $dark;
	font-family: $STSGLight;
	text-decoration: none;
	visibility: visible;
}

body.loading {
	overflow: 	hidden;
}
body.loading .loader {
	display: 	block;
}

.bg-white {	
	background-color: $light;
	border-radius: 12px;
}

canvas {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	touch-action: none;
}

div#menu {
	margin-top: 0;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
}

div#div-mid-head {
	margin-top: 21vh;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
	background-color:transparent!important;
	z-index: 3;
}

div#nojs-div-mid-head {
	font-family: "STSGMedium",Helvetica,Arial,sans-serif;
	margin-top: 21vh;
	background-color:transparent!important;
	left: 8vw;
	z-index: 3;
}

div#upper {
	padding: $margin-top-outer 0;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
	background-color:transparent!important;
	position: fixed;
	width: 100%;
}

div#nojs-menu {
	margin-top: 6vh;
	margin-left: 8vw;	
}

div#works-list {
	margin-top: 8vh;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
	background-color:transparent!important;
}

div#nojs-works-list {
	margin-top: 8vh;
	margin-left: 8vw;
}

div#works-section {
	position: absolute;
    top: 21vh;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
	margin-bottom: 8vh;
    z-index: 1;
}
div#tags {
	//width: 66%;
	width: 100%;
}
div#tools {
	//width: 66%;
	width: 100%;
}
div#tags2 {
	//width: 66%;
	width: 100%;
}
div#tools2 {
	//width: 66%;
	width: 100%;
}

#error {
	display: block;
	margin-left: $margin-left-outer;
	line-height:1.5em;
	position: absolute;
	top: 21vh;
}

.fixed {
	position: fixed;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4vh;
	z-index: 3
}

footer a, .small {
	font-family: $STSGLight;
	font-size: 1em;
}

footer #right {
	position: absolute;
	right: 1vw;
}

.wf-loading * {
	//cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" style="font-family: SharpGrotesk-Thin20; font-size: 30px;"><text y="22">&#8593;</text></svg>'), auto;
	visibility: visible;
}

.wf-active *, .wf-inactive * {
	//cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" style="font-family: SharpGrotesk-Thin20; font-size: 30px;"><text y="22">&#8593;</text></svg>'), auto;
	animation: fade-in 0.6s ease-in-out;
	visibility: visible;
}

.hide {
	display: none!important;
}

h4.progetto {
	margin-bottom: 0vh;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font, $min_logo, $max_logo);
}

img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    transition: fade-in 0.3s ease-out;
}

img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%);/* Chrome 19+, Safari 6+, Safari 6+ iOS */
    transition: fade-in 0.3s ease-in;
}

p.is-loading {
	border: solid rgba(240, 240, 240, 1) 1px;
	width: 100%;
	height: 50vw;
  	background: rgba( 255, 255, 255, 0.8 ) url('/data/images/loader_full_2.gif') 48% 50% no-repeat;
	margin-bottom: 2.4vh;
}

p.is-loading[src*="/data/img/"] {
	animation: fade-out 0.3s ease-out;
}

.invert {
	filter: invert(100%);
}

.inline {
	display: inline!important;
}

.loader {
	margin: 	0!important;
    display: 	none;
    position: 	fixed;
    z-index: 	5;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 ) url('/data/images/loader_full_2.gif') 48% 50% no-repeat;
}

li#back:hover {
	cursor: default;
}

li#back span {
	font-family: $STSGLight;
	padding: 0 6px;
	margin-right: 6px;
	background: #fff;
	border-radius: 12px;
}

.light {
	font-family: 'STSGLight', sans-serif;
}

#logo {
	width: 60px; 
    height: auto;
    padding: 0;
}

.wf-loading .light {
	visibility: visible;
}

.wf-active .light, .wf-inactive .light {
	visibility: visible;
	font-family: $STSGMedium;
}

.light {
	font-family: $STSGMedium;
}

li.work-list {
	margin-bottom: 4vh;
}

#menu-next-ajax {
	position: fixed;
	top: 62vh;
	z-index: 4;
	animation: fade-in 0.6s ease-in-out;
}

#menu-next-next-ajax {
	position: fixed;
	top: 62vh;
}

noscript {
	font-family: 'STSGLight', sans-serif;
}

.portfolio-immagine {
	width: 100%;
	margin-bottom: 2.4vh;
}

.portfolio-paragrafo {
	width: 100%;
	margin-bottom: 2.4vh;
	font-family: 'STSGLight', sans-serif;
	background-color: $light;
	opacity: $opacity;
	border-radius: 12px;
	padding: 1vw 1vh;
}

.portfolio-tags {
	bottom: 30vh;
	position: absolute;
	width: 10vw;
}

.relative {
	position: relative;
}

.rotating {
	display: inline-block;
  	animation: rotating 1.6s linear infinite;
	transform-origin: 50% 50%;
}

.rotating-inverse {
	display: inline-block;
  	animation: rotating-inverse 1.6s linear infinite;
	transform-origin: 50% 50%;
}

.show {
	display: block;
}

.no-touch {
	transition: filter 0.2s;
	transition-timing-function: ease;
	filter: invert(0);
}

.no-touch:hover, .no-touch:active, .touch.over {
	transition: filter 0.2s;
	transition-timing-function: ease;
	filter: invert(1);
}

.thin {
	font-family: 'STSGLight', sans-serif;
}

.wf-loading .thin {
	visibility: visible;
}

.wf-active .thin, .wf-inactive .thin {
	visibility: visible;
	font-family: $STSGLight;
}

ul#head {
	display: flex;
	align-items: center;
	z-index: 2;
}

ul#menu-ul {
	line-height: 1.8em;
}
/*
ul#mid-head {
	margin-top: 11vh;
}*/

ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi, {
	margin-left: $margin-left-inner;
	margin-top: 1vh;
}

ul#mid-head li:nth-child(1), ul#mid-head li:nth-child(3) {
	margin-bottom: 4vh;
}

ul#mid-head li:nth-child(2){
	margin-bottom: 2vh;
}

ul#nojs-mid-head li:nth-child(1), ul#nojs-mid-head li:nth-child(3) {
	margin-bottom: 3vh;
	margin-left: 8vw;
}

ul#nojs-mid-head li:nth-child(2){
	margin-bottom: 1vh;
	margin-left: 8vw;
}

ul#works-ajax {
	display: flex;
    flex-direction: column-reverse;
}

video {
	width: 42vw;
	height: auto;
}

.vibration:hover {
	display: inline-block;
	transform: scale(1, -1);
  	//animation: vibration 0.25s linear infinite;
	animation: transform 0.25s linear 1;
	transform-origin: center;
	cursor: default;
	//animation-iteration-count: 1;
}

.vibration:focus, .vibration:active, .vibration:focus-within {
	display: inline-block;
	transform: scale(1, -1);
	transform-origin: center;
	//animation-iteration-count: 1;
}

.work-list {
	line-height: 1.8em;
	list-style: none;
	margin-bottom: 2vh;
}

#works-list-ajax {
	margin-top: 21vh;
	margin-left: $margin-left-outer;
	margin-right: $margin-right-outer;
    margin-bottom: 8vh;
    overflow: auto;
}

#nojs-works-list-ajax {
	margin-top: 21vh;
	margin-left: 8vw;
	margin-right: 10vw;
    margin-bottom: 8vh;
    overflow: auto;
}

.work {
	font-size: 1.6em;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

/* === ANIMATION === */

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-in {
	0% {
		transform: translate(-90vw,0);
	}
	100% {
		transform: translate(0,0);	
	}
}

@keyframes slide-out {
	0% {
		transform: translate(90vw,0);
	}
	100% {
		transform: translate(0,0);
	}
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotating-inverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
// old
@keyframes vibration {
	0% {
		transform: translate(0, -5px);
	}
	25% {
		transform: translate(0, 5px);
	}
	50% {
		transform: translate(0, -6px);
	}
	75% {
		transform: translate(0, 4px);
	}
	100% {
		transform: translate(0, -5px);
	}
}

/* === MEDIA QUERIES === */

@media all and (max-width: 1000px) {
	ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi {
		display: none;
	}
	div#tags {
		display: none;
	}
	div#tools {
		display: none;
	}
	div#tags2 {
		display: block;
	}
	div#tools2 {
		display: block;
		margin-top: 2vh;
	}
	.lb-nav a.lb-prev, .lb-nav a.lb-next {
		background-size: 58px;
	}
	.lb-data .lb-close {
		background-size: 26px;
		width: 26px;
		height: 26px;
	}
	p.is-loading{
		height: 50vw;
	}
}

@media all and (min-width: 1001px) {
	ul#head li#es, ul#head li#contatti, ul#head li#chiama, ul#head li#scrivi  {
		display: none;
	}
	div#tags {
		display: block;
		margin-top: 4vh;
	}
	div#tools {
		display: block;
		margin-top: 2vh;
	}
	div#tags2 {
		display: none;
	}
	div#tools2 {
		display: none;
	}
	div#image-container {
		font-family: $STSGLight;
		float: right;
		width: 38vw;
	}
	div#works-section {
    position: relative;
    top: 22vh;
    //left: 40vw;
    //margin-bottom: 8vw;
    z-index: 1;
}
	.lb-nav a.lb-prev, .lb-nav a.lb-next {
		background-size: 58px;
	}
	.lb-data .lb-close {
		background-size: 30px;
		width: 30px;
		height: 30px;
	}
	p.is-loading{
		height: 30vw;
	}
	.titolo-progetto {
		display: inline-block;
    	width: 40vw;
    	height: 100vw;
 		position: fixed;
     	left: $margin-left-outer;
 	}
}

@media screen and (orientation: landscape) and (max-height: 500px) {
	div#tags {
		display: none;
	}
	div#tools {
		display: none;
	}
	div#tags2 {
		display: block;
	}
	div#tools2 {
		display: block;
	}
	#works-list-ajax {
    	margin-top: 36vh;
    	margin-bottom: 8vh;
    	overflow: auto;
	}
	div#div-mid-head {
		display: none;
	}
	ul#head li#es, ul#head li#contatti {
		display: inline-block;
	}
	div#works-list {
    margin-top: 36vh;
	}
	div#works-section {
    top: 36vh;
	}
	div#nojs-works-list {
	margin-top: 36vh;
	margin-left: 8vw;	
}
	
}

@media all and (orientation: landscape) and (max-height: 500px) and (min-width: 1000px) {
	#works-list-ajax {
    	margin-top: 36vh;
    	margin-bottom: 8vh;
    	overflow: auto;
	}
	div#div-mid-head {
		display: none;
	}
	ul#head li:nth-child(4) {
		display: none;
	}
	ul#head li#es, ul#head li#chiama, ul#head li#scrivi  {
		display: inline-block;
	}
	ul#head li#contatti {
		display:none;
	}
	div#works-list {
    margin-top: 36vh;
	}
	p.is-loading {
		height: 26vw;
	}
	.titolo-progetto {
 	position: fixed;
     left: $margin-left-outer;
 }
}